.popup {
  margin: auto;
  width: 500px;
  background-color: #fff;
  border-radius: 3px;
}

.wrap {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 999;
  display: flex;
  background-color: rgba(#000, .5);
  overflow-y: auto;
}

.header {
  padding: 25px 30px 25px 90px;
  border-bottom: 2px solid #a64100;
  line-height: 1;
  background: url('../../../assets/images/logo.svg') 20px 50% no-repeat / 48px;
}

.body {
  padding: 0 20px 20px;
}

.title {
  margin: 0;
  text-transform: uppercase;
  color: rgb(41, 96, 138);
  font-size: 21px;
}


